* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  
}
:root {
  interpolate-size: allow-keywords;
}
body {
  background-color: black;
  color: white;
}
li {
  list-style: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
*::-webkit-scrollbar {
  display: none;
}